<nav class="content-nav">
	<div class="contain">

		<ul>
			<li class="top-link top-link-top"> 
				<a href="#pageTop" class="icon-up-open directional-icon" title="To Top"></a>
			</li>
			{% for item in post.get_field('sections') %}
				<li class="content-nav-item">
					<a href="#{{item.menu_item_title|replace({ (space): replace_space })}}">{{item.menu_item_title}}</span></a>
				</li>
			{% endfor %}
		</ul>

	</div>
</nav> <!-- /.content-nav -->
