

// ---
// Global
// ---

* {
	box-sizing: border-box;
}

body {
	background-color: $body-bkgd;
	word-wrap: break-word;
	
	@include bp(small) {
		word-wrap: normal;
	}
}

img {
	max-width: 100%;
}

ul, ol {
	margin: 0;
	padding: 0;
}




// ---
// Typography 
// ---

.lead {
	@include font-size(h4);
}






// ---
// Components 
// ---

// .hero {
// 	position: relative;
// 	overflow: hidden;
// 	color: $text-light;

// 	.icon-down-open {
// 		font-size: $h3;
// 		padding-top: $base;
// 		line-height: 0;
// 	}
// }

// .hero-full-bkgd {
//    background-position: center center;
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-color: $text-dark;
//    width: 100%;
//  }

// 	.hero-video {
// 		video {
// 			display: none;
// 			opacity: 0;
// 			top: 0;
// 			left: 0;
// 			position: absolute;
// 			min-width: 100%;
// 			min-height: 100%;

// 			@include bp(large) {
// 				display: block;
// 			}
// 		}
// 	}

// 	.hero-image {
// 		opacity: 0;
// 		width: 100%;
// 	}

// 	.hero-video-placeholder {
// 		opacity: 0;
// 		@include bp(large) {
// 			opacity: 1;
// 		}
// 	}

// 	.hero-text {
// 		padding-top: $h1;
// 		padding-bottom: $h1;
// 	}

// .hero-wrap {
// 	padding-top: percentage(1/3);

// 	background-image:
//     radial-gradient(
// 		ellipse at 40% center,
// 		rgba($text-dark, 0.3) 0,
// 		$text-dark
//     );

// 	@include bp(med) {
// 		background-image:
// 	    radial-gradient(
// 			ellipse at 20% center,
// 			rgba($text-dark, 0) 0,
// 			$text-dark
// 	    );	
// 	}
	
//     position: relative;
//     z-index: $zmid;

// 	@include bp(large) {
// 		padding-top: percentage(1.5/3);
// 	}
	
// 	@include bp(xl) {
// 		padding-top: percentage(1/3);	
// 	}

// 	.page-header & {

// 		padding-top: $h1;
		
// 		@include bp(small) {
// 			padding-top: percentage(0.9/3);
// 		}
// 		@include bp(med) {
// 			padding-top: percentage(0.4/3);

// 			.home & {
// 				padding-top: percentage(0.6/3);
// 			}
// 		}
// 	}

// 	padding-bottom: $h3;
// 	@extend .clearfix;
// }
	
// 	.hero-tag-container {
// 		@extend .inner;

// 		@include bp(xl) {
// 			max-width: 100%;
// 		}
// 	}

// 	#headerImageLoader {
// 		display: none;
// 	}

// 	.test-spin {
// 		position: absolute;
// 		top: 25%;
// 		left: 25%;
// 	}
