
.page-header {
	text-align: center;
}

	.page-title {
		position: relative;
		@include bp(med) {
			font-size: $h1*1.5;	
		}
	}

	.page-tagline {
		font-family: $lead-font;
		font-size: $h4;
	}


.page-body {
	position: relative;
	z-index: $zmid;
}

