
.section-header {
	// border-bottom: $accent-border;
}

	.nav-stuck {
		@include bp(med) {
			margin-top: 68px;
		}
	}

.section-title {
	margin-top: $h2;
	position:relative; 

	font-size: $h3;

	@include bp(small) {
		font-size: $h2;
	}
}

.section-content {
	position: relative;
	padding-bottom: $h1;
}

	.content-active {
		// background-color: $accent-med;
	}

