{% block html_head_container %}
{% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

    <body class="{{body_class}} wf-loading" data-template="base.twig" id="pageTop">
        
        {# Is this excessive? #}
        {% block header %}
            {% include 'headers/_header-site.twig' with { class: 'header--site', role: 'banner', contain: 'contain' } %}
        {% endblock %}      
        
        <main id="content" class="main contain" role="main">

            {% include 'headers/_header-page.twig' %}
            
            <div class="page-body">
                {% block content %}
                    Sorry, no content
                {% endblock %}
            </div>

            {% if sidebar %}
                <aside class="layout-sidebar">
                    {{sidebar}}
                </aside>
            {% endif %}

        </main>

        {% block footer %}

            <footer id="footer" class="site-footer" role="contentinfo">
                <div class="contain">
                    {% include 'footers/_footer-site.twig' %}    
                </div>
            </footer>

            {{ function('wp_footer') }}
            
        {% endblock %}

    </body>
</html>
