
{# Base header template #}

{% set h_class = ' class="' ~ class ~ '"' %}
{% set h_role = ' role="' ~ role ~ '"' %}

<header{{ class ? h_class }}{{role ? h_role }}>
	<div class="contain contain-md">
		{% block header_content %}{% endblock %}
	</div>
</header>