
/// @group alerts
/// @content [Alerts used for containers around text and buttons.]
 
.alert {
    padding: $size-base;
    @include bleed;

    @each $name, $colors in $status-colors {
        $bgcolor: nth($colors, 1);
        $fontcolor: nth($colors, 2);

        &--#{$name} {
            // TODO: Need to deal with hover styles.
            background-color: lighten($bgcolor, 30%);
            color: $fontcolor;
        }
    }
}
