
/// @group Typography

html {
	font-size: $size-base;
	line-height: $line-height-base;
	font-weight: $font-weight-base;

	@include bp(small) {
		font-size: $size-contain-sm;
	}

	@include bp(small) {
		font-size: $size-contain-md;
	}

	@include bp(small) {
		font-size: $size-contain-lg;
	}
}

body {
	font-family: $font-body;
	font-size: $size-base; 
	color: $color-text-dark;
}

a {
	color: $color-link;
	text-decoration: none;

	&:hover, &:focus {
		color: $color-link-hover;
	}

	&:active {
		color: $color-link-active;	
	}

	// mobile tap color 
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heading;
	font-weight: $font-weight-heading;
	margin-bottom: 0;
	line-height: $line-height-sm;
}

h1 {
	font-size: $size-h1;
	margin-top: $size-h3;
}

h2 {
	font-size: $size-h2;
	// margin-top: $size-h3;
}

h3 {
	font-size: $size-h3;
	// margin-top: $size-h3;
}

h4 { 
	font-size: $size-h4;
	// margin-top: $size-h4;
}

h5 {
	font-size: $size-h5;
	font-family: $font-body;
}

h6 {	
	font-family: $font-body;
	font-size: $size-h6;
	@include upperspace();
	// margin-top: $size-base;
}

small {
	font-size: $size-sml;
}

strong {
	// TODO: Add real font here instead of faux bold
	font-weight: $font-weight-strong;
}

blockquote {
	font-size: $size-h4;
	font-style: italic;

	&:before {
		// background-image: url(../img/svgs/quotes-left.svg);
		// background-repeat: no-repeat;

		// content: " ";
		
		// width: $size-h3;
		// height: $size-h3;
		
		// position: absolute;
		// left: -$size-h4;

		// @include bp(med) {
		// 	left: -$size-h3;
		// }	
	}
}

p {
	margin-top: $size-xsml;
	margin-bottom: $size-xsml;
}


/// @group typography-helpers
/// @content [Semantic classes for typography. These may be extended in their associated partial.]

.lead {
	font-size: $size-h4;
}

.summary {

}
