
{# Base nav template #}

{% set n_class = ' class="' ~ class ~ '"' %}
{% set n_role = ' role="' ~ role ~ '"' %}

<nav{{ class ? n_class }}{{role ? n_role }}>
	<div class="contain {{contain}}">
		{% block nav_content %}{% endblock %}
	</div>
</nav>