
{% block content %}

	<blockquote>
		<p>{{block.quote_text}}</p>
		<footer>
			&dash; <cite><a href="{{block.quote_source_url}}" target="blank">{{block.quote_source}}</cite></a>
		</footer>
	</blockquote>
	
 
{% endblock %}