{% extends "blocks/block.twig" %}

{% block content %}

	{# <div class="inner inner-cta"> #}
	<p class="lead lead--cta">{{block.cta_text}}</p>
	<a href="{{block.cta_btn_url}}" class="btn btn--cta">{{block.cta_btn_text}}</a>
	{# </div> #}

{% endblock %}