<div class="block {{block_class}}{{blck.cta_rotate ? ' rotate-' ~ blck.cta_rotate }}">
	<div class="contain">

		{% block content %}
			<p>Nothing in this Block</p>
		{% endblock %}

	</div>
</div> <!-- /.{{block_class}} -->