
{# NOTE: block is shortened to blck to account for naming conflict with Twig blocks. #}

<h2>Block logic</h2>

{% set block_class = block.acf_fc_layout %}

{% if block.acf_fc_layout == 'block_text' %}
    {% include 'blocks/_block-text.twig' %}   
{% elseif block.acf_fc_layout == 'block_textimage' %}
    {% include 'blocks/_block-textimage.twig' %}
{% elseif block.acf_fc_layout == 'block_related_page' %}
    {% include 'blocks/_block-related.twig' %}
{% elseif block.acf_fc_layout == 'block_blank' %}
    {% include 'blocks/_block-html.twig' %}
{% elseif block.acf_fc_layout == 'block_list' %}
    {% include 'blocks/_block-list.twig' %}
{% elseif block.acf_fc_layout == 'block_cta' %}
    {% include 'blocks/_block-cta.twig' %}
{% elseif block.acf_fc_layout == 'block_quote' %}
    {% include 'blocks/_block-quote.twig' %}
{% endif %}
