{% extends "blocks/block.twig" %}

{% block content %}

	{# <div class="inner inner-cta"> #}
		<p class="lead lead-cta">{{blck.cta_text}}</p>
		<a href="{{blck.button_link}}" class="btn-cta">{{blck.button_text}}</a>
	{# </div> #}

{% endblock %}