<div class="block {{block_class}}{{block.cta_rotate ? ' rotate-' ~ block.cta_rotate }}">
	<div class="contain contain-{{block.contain}}">
	{% block content %}
		<p>Nothing in this Block</p>
	{% endblock %}
	</div>
</div> <!-- /.{{block_class}} -->