
{% set block_class = block.acf_fc_layout %}

{% if block.acf_fc_layout == 'block_text' %}
    {% include 'blocks/_block-text.twig' %}   
{% elseif block.acf_fc_layout == 'block_textimage' %}
    {% include 'blocks/_block-textimage.twig' %}
{# {% elseif block.acf_fc_layout == 'block_related_page' %} #}
    {# <h2>block_related</h2> #}
    {# {% include 'blocks/_block-related.twig' %} #}
{% elseif block.acf_fc_layout == 'block_html' %}
    {% include 'blocks/_block-html.twig' %}
{% elseif block.acf_fc_layout == 'block_list' %}
    {% include 'blocks/_block-list.twig' %}
{% elseif block.acf_fc_layout == 'block_cta' %}
    {% include 'blocks/_block-cta.twig' %}
{% elseif block.acf_fc_layout == 'block_quote' %}
    {% include 'blocks/_block-quote.twig' %}
{% endif %}
