{% extends "blocks/block.twig" %}

{% block content %}

	<div class="inner inner-cta">
		<p class="lead lead-cta">{{blck.cta_text}}</p>
		<a href="/order" class="btn-cta">Estimate Your Order <span class="icon in-btn icon-fast-forward"></span></a>
	</div>

{% endblock %}