@charset "UTF-8";

@font-face {
  font-family: "dijifi";
  src:url("../fonts/dijifi.eot");
  src:url("../fonts/dijifi.eot?#iefix") format("embedded-opentype"),
    url("../fonts/dijifi.woff") format("woff"),
    url("../fonts/dijifi.ttf") format("truetype"),
    url("../fonts/dijifi.svg#dijifi") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "dijifi" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "dijifi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fast-forward:before {
  content: "a";
}
.icon-facebook-squared:before {
  content: "b";
}
.icon-call-phone:before {
  content: "d";
}
.icon-mail:before {
  content: "e";
}
.icon-up-open:before {
  content: "f";
}
.icon-down-open:before {
  content: "g";
}
.icon-right-open:before {
  content: "h";
}
.icon-left-open:before {
  content: "i";
}
.icon-cancel:before {
  content: "j";
}
.icon-camera:before {
  content: "k";
}
.icon-youtube-play:before {
  content: "l";
}
.icon-filmstrip:before {
  content: "m";
}
.icon-volume-up:before {
  content: "n";
}
.icon-twitter:before {
  content: "o";
}






// Icons

.in-btn {
    margin-left: $xsml/2;
    position: relative;
    top: 3px;
    color: $accent-light;
}

.directional-icon {
	font-size: $base;

	&:before {
		color: $text-light;
	}
}


.icon-google-plus-square {
	color: $alert-danger;
	font-size: $h4;
}

.icon-facebook-square {
	color: $alert-info;
	font-size: $h4;
}

