

// ----
// ---- Screen sizes
// ----

$screen-sm:     34em;
$screen-md:     56em;
$screen-lg:   	64em;
$screen-xl:     74em;




// ----
// ---- Colors
// ----

$white: 			#F2F2F2;
$blue: 				#1C7FA6;
$l-teal: 			desaturate(#BDF2E3, 10%);
$green: 			#1BBF54;
$l-green: 			#D9F2A2;

$grey: 				#9E9E9E;


// Semantic variable names

$accent-vlight:		$l-green;
$accent-light:		$l-teal;
$accent-med:		$blue;
$accent-dark:		darken($blue, 20%);

$alert-danger: 		lighten($l-green, 40%);
$alert-warning: 	$accent-light;
$alert-info: 		$blue;
$alert-success: 	$green;

$text-dark: 		#333;
$text-med: 			$grey;
$text-medlight: 	lighten($text-med, 20%);
$text-light: 		$white;

$link-color:		$blue;
$link-hover: 		darken($link-color, 20%);

$twitter: 			#4099FF;
$facebook: 			#3B5998;


// Components

$body-bkgd: 		$white;
$body-text: 		$text-dark;

$rotate-bkgd: 		$accent-dark;
$rotate-text: 		$text-light;
$rotate-link: 		$text-light;

$table-rotate: 		lighten($alert-info, 50%);




// ----
// ---- Typography 
// ----

// Rem Unit Scale

$contain-lg: 		110%;
$contain-md: 		102%;
$contain-sm: 		98%;
$contain: 			90%;

$base:  			1.2rem;
$line-height-base: 	1.5;
$line-height-sm: 	1.3;

$xsml: 				$base*0.6;
$sml:  				$base*0.75;

$h1:  				$base*3;
$h2:  				$base*2.4;
$h3:  				$base*2;
$h4:  				$base*1.3;
$h5:  				$base*1.1;
$h6:  				$sml;



// Fonts

$serif:             'Georgia', serif;
$sans-serif:        'Helvetica', serif;

$heading-font: 		$serif;
$body-font: 		$sans-serif;
$nav-font: 			$sans-serif;
$form-font: 		$sans-serif;
$lead-font: 		$sans-serif;

$heading-font-weight: 700;



// ----
// ---- Utilities 
// ----

$accent-border: 	1px solid $accent-med;

// Z-Index Scale
$zbase: 			1;
$zback: 			$zbase+1;
$zmid: 				$zbase+2;
$ztop: 				$zbase+3;

