

// ----
// ---- Screen sizes
// ----

$screen-sm:     34em;
$screen-md:     56em;
$screen-lg:   	1087px;
$screen-xl:     74em;

$screen-contain: 78em;




// ----
// ---- Colors
// ----


$white: 		#ffffff;
$black: 		#111;
$grey: 			#999;

$red: 			#e14939;
$oldgreen: 		#6EC7BE;
$blue:			#3C7AAA;
$yellow: 		#FFCC53;
$navy:	 		#222334;
$tan: 			#faf3db;		
$newgreen: 		#80C25D;
$dred: 			#D14A29;
$orange: 		lighten(#D14A29, 20%);
$light-tan: 	#fdfaf1;


// Semantic variable names

$accent-vlight:		$tan;
$accent-light:		$yellow;
$accent-med:		$newgreen;
$accent-dark:		$navy;

$alert-danger: 		lighten($dred, 40%);
$alert-warning: 	$accent-light;
$alert-info: 		$blue;
$alert-success: 	$accent-med;

$text-dark: 		$navy;
$text-med: 			$grey;
$text-medlight: 	lighten($text-med, 20%);
$text-light: 		$white;

$link-color:		$dred;
$link-hover: 		darken($link-color, 20%);

$twitter: 			#4099FF;
$facebook: 			#3B5998;

// Components
$body-bkgd: 		$white;
$body-text: 		$text-dark;

$rotate-bkgd: 		$accent-dark;
$rotate-text: 		$text-light;
$rotate-link: 		$text-light;

$table-rotate: 		lighten($alert-info, 50%);




// ----
// ---- Typography 
// ----

// Rem Unit Scale

$contain-lg: 		110%;
$contain-md: 		102%;
$contain-sm: 		98%;
$contain: 			90%;

$base:  			1.2rem;
$line-height-base: 	1.3;
$line-height-sm: 	1.5;

$xsml: 				$base*0.6;
$sml:  				$base*0.75;

$h1:  				$base*3;
$h2:  				$base*2.4;
$h3:  				$base*2;
$h4:  				$base*1.3;
$h5:  				$base*1.1;
$h6:  				$sml;



// Fonts

$serif:             'Museo Slab', 'Georgia', serif;
$sans-serif:        'Museo Sans', 'Helvetica', serif;

$heading-font: 		$sans-serif;
$body-font: 		$serif;
$nav-font: 			$sans-serif;
$form-font: 		$sans-serif;
$lead-font: 		$sans-serif;





// ----
// ---- Utilities 
// ----

@mixin border($color: $accent-med,  $width: 1px, $side: false) {
	@if $side != '' {
		border-#{$side}: #{$width} solid $color;
	} @else {
		border: 1px #{$width} $color;
	}
}

$accent-border: 	1px solid $accent-med;



// Z-Index Scale
$zbase: 			1;
$zback: 			$zbase+1;
$zmid: 				$zbase+2;
$ztop: 				$zbase+3;

