
// /*  

// Harry Roberts says:

// "Only use @extend when the rulesets that you are trying 
// to DRY out are inherently and thematically related."

// - http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/
// - http://www.sitepoint.com/avoid-sass-extend/

// These are mixins because they are "helpers" and not used
// in a thematically related fashion.

// There are a few classes printed here as well as mixins.
// Those are primarily for prototyping purposes, but not
// exclusively.

// */



// ----
// Typography
// ----

.special {
	color: $color-accent-med;
}

.meta {
	@include meta();
}

.meta-dark {
	@include meta($color-body-text);
}

.edit-link {
	font-size: $size-sml;
	@include upperspace();
	font-weight: $font-weight-strong;
	color: $color-alert-danger;
}




// ----
// Utility
// ----

.visually-hidden {
    position: absolute;
    top: -9999999px;
    left: -999999px;
}



