
// ----
// ---- Screen sizes
// ----

$screen-sm:     30em;
$screen-md:     40em;
$screen-lg:   	50em;
$screen-xl:     60em;



// ----
// ---- Colors
// ----

$white: 			#F2F2F2;
$blue: 				#1C7FA6;
$l-teal: 			desaturate(#BDF2E3, 10%);
$green: 			#1BBF54;
$l-green: 			#D9F2A2;

$grey: 				#9E9E9E;


// Semantic variable names

// Color Scheme
$color-accent-vlight:	$l-green;
$color-accent-light:	$l-teal;
$color-accent-med:		$blue;
$color-accent-dark:		darken($blue, 20%);

// Alerts
$color-alert-danger: 	lighten($l-green, 40%);
$color-alert-warning: 	$color-accent-light;
$color-alert-info: 		$blue;
$color-alert-success: 	$green;

// Text colors
$color-text-dark: 		#333;
$color-text-med: 		$grey;
$color-text-medlight: 	lighten($color-text-med, 20%);
$color-text-light: 		$white;

// Links
$color-link:			$blue;
$color-link-hover: 		darken($color-link, 20%);
$color-link-active: 	darken($color-link, 40%);

// Body
$color-body-bkgd: 		$white;
$color-body-text: 		$color-text-dark;

// Calls to action - TODO: too much?
$color-cta-bkgd: 	$color-accent-dark;
$color-cta-text: 	$color-text-light;
$color-cta-link: 	$color-text-light;

$color-table-rotate: 	lighten($color-alert-info, 50%);



// ----
// ---- Size Scale 
// ----

// Rem Unit Scale

$size-contain-lg: 	110%;
$size-contain-md: 	102%;
$size-contain-sm: 	98%;
$size-contain: 		90%;

$size-base:  		1.1rem;

$size-xsml: 		$size-base*0.6;
$size-sml:  		$size-base*0.75;

$size-h1:  			$size-base*2.5;
$size-h2:  			$size-base*2.3;
$size-h3:  			$size-base*1.8;
$size-h4:  			$size-base*1.3;
$size-h5:  			$size-base*1.1;
$size-h6:  			$size-sml;



// ----
// ---- Typography 
// ----

$serif:				'Museo Slab', serif;
$sans-serif:		'Gotham', serif;

$line-height-base: 	1.5;
$line-height-sm: 	1.3;

$font-heading: 		$sans-serif;
$font-body: 		$sans-serif;
$font-nav: 			$sans-serif;
$font-form: 		$sans-serif;
$font-lead: 		$sans-serif;

$font-weight-heading: 	500;
$font-weight-base: 		300;
$font-weight-strong: 	500;




// ----
// ---- Utilities 
// ----

$border-accent: 	1px solid $color-accent-med;

// Z-Index Scale
$z-base: 			1;
$z-back: 			$z-base+1;
$z-mid: 			$z-base+2;
$z-top: 			$z-base+3;

