{% extends 'pages/page.twig' %}

{% block content %}
	<ul>

	{% for source in sources %}
		

		<li>
			<h5><a href="{{source.source_url}}">{{source.title}}</a></h5>
			<p>{{source.source_blurb}}</p>
			{% for cat in source.get_terms('category') %}
				<p class="meta">{{cat.title}}</p>
			{% endfor %}
		</li>
	{% endfor %}
	</ul>
{% endblock %}