{% extends "base.twig" %}

{% block content %}

	{% include 'headers/_header-page.twig' with { h_class: 'header--page' } %}

	<header class="page-header">
		<h2>{{post.title}}</h2>
		<p class="page-tagline">{{post.summary}}</p>
	</header>

	{% include 'partials/section-nav.twig'%}
	
	{% for section in post.get_field('sections') %}
		<section class="section" id="{{section.menu_item_title|replace({ (' '): '_' })}}">
			
			{% include 'headers/_header-single.twig' with { h_class: 'header--section' } %}

			{% for block in section.blocks %} 
				{% include 'blocks/block-logic.twig' %}
			{% endfor %}

		</section>
	{% endfor %}
	
{% endblock %}